*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
.DS_Store

**/node_modules

/assetmap/build
/assetmap/*.tgz
/assetmap/template/src/__tests__/__snapshots__/
/assetmap/lerna-debug.log
/assetmap/npm-debug.log*
/assetmap/yarn-debug.log*
/assetmap/yarn-error.log*
/assetmap/.changelog
/assetmap/.npm/
