/* Example Section */
.someCoolClassName {
  color: black;
  font-family: Helvetica;
}

#someId {
  width: 100%;
}

/*Footer - Melissa*/
#greenbox {
  background-color: #DFEBD3;
}
#copyright {
  text-align: center;
  background-size: cover;
}