/* Global Classes */
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-grey {
  background-color: #E4E4E4;
}

/* Navbar */
body {
  padding-top: 138px;
}

#logo {
  height: 8rem;
  padding: 1rem 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#logo.shrink {
  height: 4rem;
  padding: 0.2rem 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 768px) {
  #bs4navbar {
    height: 100%;
  }

  #bs4navbar ul {
    height: 100%;
  }

  #bs4navbar ul li {
    height: 100%;
  }

  #bs4navbar ul li a {
    position: relative;
    height: 75%;
    margin: 0 5px;
    padding: 0 0.7rem;
    border-top: 5px solid var(--dark);
  }
  
  #bs4navbar ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    right: calc(100% - 5px);
    bottom: 100%;
    top: -5px;
    border-left: 5px solid var(--dark);
    border-bottom: 5px solid var(--dark);
    transition: right 0.1s ease-in-out 0.1s,
      bottom 0.1s ease-in-out 0.2s;
  }

  #bs4navbar ul li a:hover:before {
    right: calc(100% - 0.6rem);
    bottom: 10px;
    transition: bottom 0.2s ease-in-out 0s,
    right 0.2s ease-in-out 0.2s;
  }

  #bs4navbar ul li a:after {
    content: "";
    position: absolute;
    left: calc(100% - 5px);
    right: 5px;
    bottom: 100%;
    top: -5px;
    border-right: 5px solid var(--dark);
    border-bottom: 5px solid var(--dark);
    transition: left 0.1s ease-in-out 0.1s,
      bottom 0.1s ease-in-out 0.2s,
      right 0s ease-in-out 0.5s;
  }

  #bs4navbar ul li a:hover:after {
    left: calc(100% - 0.6rem);
    right: 0;
    bottom: 10px;
    transition: bottom 0.2s ease-in-out 0s,
      left 0.2s ease-in-out 0.2s;
  }

  #bs4navbar ul li a.active {
    color: var(--white);
    background-color: var(--dark);
  }
}

/* Home page */
.home-page-banner {
  height: 70vh;
}

.home-asset-map {
  height: 30rem;
}

.right-side-image {
  min-height: 10rem !important;
}

.update-box-link {
  color: var(--dark);
}

.update-box-link:hover {
  text-decoration: none;
  color: var(--dark);
}

/* Partners Grid */
@media (min-width: 1200px) {
  .custom-col-xl-2-4 {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}

.partner-logo-container, .grid-image {
  max-width: 15rem !important;
}

.partner-logo {
  padding-top: 100%;
  background-origin: border-box;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Social Media Icons*/
.fa {
  border-radius: 20%;
  font-size: 1.25rem;
  margin: 0.3125rem 0.125rem;
  padding: 0.625rem;
  text-align: center;
  text-decoration: none;
  width: 2.5rem;
}

.fa:hover {
  color: var(--dark);
  opacity: 0.7;
  text-decoration: none;
  text-emphasis: bold;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Project Page */
.carousel-card-no-border {
  border: none !important;
}

.carousel-no-text-decoration {
  text-decoration: none !important;
}

/* show 3 items */
.carousel-inner .active,
.carousel-inner .active+.carousel-item,
.carousel-inner .active+.carousel-item+.carousel-item {
  display: block;
}

.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
  transition: none;
}

.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  position: relative;
  transform: translate3d(0, 0, 0);
}

.carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
  position: absolute;
  top: 0;
  right: -33.3333%;
  z-index: -1;
  display: block;
  visibility: visible;
}

/* left or forward direction */
.active.carousel-item-left+.carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left+.carousel-item,
.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
  position: relative;
  transform: translate3d(-100%, 0, 0);
  visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.carousel-item-prev.carousel-item-right .carousel-inner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  visibility: visible;
}

/* right or prev direction */
.active.carousel-item-right+.carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right+.carousel-item,
.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
  position: relative;
  transform: translate3d(100%, 0, 0);
  visibility: visible;
  display: block;
}